<!DOCTYPE <html>
<head>
	<title>New CD Entry</title>
</head>
<body>
	<h1>CD Library</h1>
	<h3>You added the following CD:</h3>
		<li>{{new_cd.getArtist}}</li>
		<li>{{new_cd.getTitle}}</li>
		<li>{{new_cd.getImage}}</li>
		<li>{{new_cd.getPrice}}</li>

	<p><a href='/'>Add another CD</a></p>
</body>
</html>